fastapi==0.116.1
uvicorn[standard]==0.35.0
python-multipart==0.0.20
pillow==11.3.0
setuptools
wheel==0.45.1
ultralytics==8.3.167
torch==2.7.1
torchvision==0.22.1
numpy==2.2.6
opencv-python==4.12.0.88
pydantic==2.11.7
streamlit==1.32.0
matplotlib==3.8.2
requests==2.31.0